@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --fontfamily-roboto: "Roboto", sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #eb4c6b;
  --font-color: #252020;
  --color-border-dray: #e5e5e5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--font-color);
  background: var(--color-white);
  font-family: var(--fontfamily-roboto);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}
